h1 {
    text-align: center;
    color: red;
}

img {
    margin: 20px auto;
    border-radius: 30px;
    border: 20px;
    max-width: 60%;
}

.btn btn-primary {
    display: block;
    margin: 0 auto;
    width: 200px;
}